<div ng-show="ComicsNewCtrl.hasErrors" class="row alert-box alert radius">
  <p ng-repeat="error in ComicsNewCtrl.errors">{{error}}</p>
</div>
<div class="new-comic">
	<div class="row title">
		Comic Creator
	</div>
	<div class="row upload-title">
		Upload an image
	</div>
	<div class="row file-upload">
	<div class="small-11 medium-7 large-5 columns">
		<input type="file" capture="camera" accept="image/*" class="file-input" ng-model="ComicsNewCtrl.uploadedImage" base-sixty-four-input>
		<div class="row file-upload-component">
			<div class="left small-6 medium-7 large-7 columns file-name">
				{{ComicsNewCtrl.uploadedImage.filename}}
			</div>
			<div class="right choose-file">
				Choose File
			</div>
		</div>
	</div>
	<div class="small-11 left medium-2 columns clear-fix">
		<a class="button upload-btn" ng-click="ComicsNewCtrl.upload()">Upload</a>
	</div>
	
	</div>
	
</div>
<div class="comic-stripes">
	<div class="row">
		<div ng-repeat="stripe in ComicsNewCtrl.stripes | orderBy:'order'" class="small-11 medium-3 large-3 columns left">

			<div class="show-for-medium-up row image">
				<span ng-click="ComicsNewCtrl.deleteStripe(stripe)" class="delete">x</span>
				<img ng-src="{{stripe.web_image_url.replace(':9000',':3000')}}" />
			</div>
			<div class="show-for-small-only row image">
				<span ng-click="ComicsNewCtrl.deleteStripe(stripe)" class="delete">x</span>
				<img ng-src="{{stripe.mobile_image_url.replace(':9000',':3000')}}" />
			</div>
			<div id="caption-{{stripe.id}}" ng-model="stripe.caption" contenteditable="true" placeholder="Write Caption" ng-blur="ComicsNewCtrl.updateCaption(stripe)" class="row caption">
			</div>
			
			<div class="row order-actions">
				<span ng-show=" stripe.order == 1" class="left-arrow">
					<img src="images/disabled-left-arrow.png" />
				</span>

				<span ng-click="ComicsNewCtrl.updateOrder(stripe.id,stripe.order-1)" ng-hide=" stripe.order == 1" class="left-arrow">
					<img src="images/left-arrow.png" />
				</span>

				<span ng-show="$index == ComicsNewCtrl.stripes.length -1">
					<img src="images/disabled-right-arrow.png" />
				</span>

				<span ng-click="ComicsNewCtrl.updateOrder(stripe.id,stripe.order+1)" ng-hide=" $index == ComicsNewCtrl.stripes.length -1">
					<img src="images/right-arrow.png" />
				</span>
				
			</div>
		</div>
	</div>
</div>
<div class="row" ng-show="ComicsNewCtrl.stripes.length > 0">
	<div class="clear-fix">
		<a class="button publish-btn" ng-click="ComicsNewCtrl.publish()">PUBLISH COMIC</a>
	</div>
</div>
