<div ng-show="ComicsNewCtrl.hasErrors" class="row alert-box alert radius">
  <p ng-repeat="error in ComicsNewCtrl.errors">{{error}}</p>
  <a id="close-error" href="#close-error" class="close">&times;</a>
</div>
<div class="new-comic">
	<div class="row title">
		Comic Creator
	</div>
	<div class="row upload-title">
		Upload an image
	</div>
	<div class="row file-upload">
	<div class="small-11 medium-7 large-5 columns">
		<input type="file" capture="camera" accept="image/*" class="file-input" ng-model="ComicsNewCtrl.uploadedImage" base-sixty-four-input>
		<div class="row file-upload-component">
			<div class="left small-6 medium-7 large-7 columns file-name">
				{{ComicsNewCtrl.uploadedImage.filename}}
			</div>
			<div class="right choose-file">
				Choose File
			</div>
		</div>
	</div>
	<div class="small-11 left medium-2 columns clear-fix">
		<a class="button upload-btn" ng-click="ComicsNewCtrl.upload()">Upload</a>
	</div>
	
	</div>
	
</div>
