<update-meta itemprop="image" content="{{ComicsShowCtrl.stripes[0].web_image_url}}">
<update-meta name="twitter:image:src" content="{{ComicsShowCtrl.stripes[0].web_image_url}}">
<update-meta property="og:image" content="{{ComicsShowCtrl.stripes[0].web_image_url}}" />
<div class="comic-stripes comic-view">
	<div class="row">
		<div ng-repeat="stripe in ComicsShowCtrl.stripes | orderBy:'order'" class="small-11 medium-3 large-3 columns left">

			<div class="show-for-medium-up row image">
				
				<img ng-src="{{stripe.web_image_url.replace(':9000',':3000')}}" />
			</div>
			<div class="show-for-small-only row image">
				
				<img ng-src="{{stripe.mobile_image_url.replace(':9000',':3000')}}" />
			</div>
			<div id="caption-{{stripe.id}}" ng-bind-html="stripe.caption" class="row caption">
				
			</div>
			
			
		</div>
	</div>
</div>
