@import "common.scss";
@mixin font($weight: 300, $style: normal) {
  font-family: 'open sans';
  font-weight: $weight;
  font-style: $style;
}
.new-comic{
	.title{
		font-size:64px;
		color:#444444;
		line-height:87px;
		text-align:left;
	}
	.upload-title{
		font-size:14px;
		color:#3d4049;
		letter-spacing:0.3px;
		line-height:16px;
		text-align:left;
		margin-top: 63px;
		@include font(700)
	}
	.file-upload {
	  position: relative;
	  left: -10px;
	  margin: 10px;

	  .file-input {
	  position: absolute;
	  top: 0;
	  right: 0;
	  margin: 0;
	  padding: 0;
	  font-size: 30px;
	  cursor: pointer;
	  opacity: 0;
	  filter: alpha(opacity=0);


	}

	.file-upload-component{
		border: 1px solid #bbbbbb;
	    border-radius: 3px;
	    //width: 378px;
	    height: 43px;
	    padding-left: 16px;
	    padding-top: 7px;
	    vertical-align: middle;
	    padding-right: 7px;

		.file-name{
			    font-size: 14px;
			    color: #bbbbbb;
			    line-height: 25px;
			    text-align: left;
			    white-space:nowrap;
		}
		.choose-file{
			@include font(300);
			background:#f7f7f7;
			border:1px solid #bbbbbb;
			border-radius:3px;
			width:132px;
			height:29px;
			font-size:14px;
			color:#888888;
			letter-spacing:0.3px;
			line-height:25px;
			text-align:center;
		}
	}
	.mobile-upload{
		input{
			position: absolute;
			top: 0;
			right: 0;
			margin: 0;
			padding: 0;
			font-size: 30px;
			cursor: pointer;
			opacity: 0;
			filter: alpha(opacity=0);
		}
		.button{
			width:100%;
		}
	}

	.upload-btn{
		background:#00d7a7;
		border:1px solid #00d7a7;
		border-radius:3px;
		height:43px;
		font-size:14px;
		color:#ffffff;
		line-height:13px;
		text-align:center;
		width: 138px;
		margin-left: 20px;

	}
	}

	


}

@media #{$small-only} { 
  .new-comic{
	.title{
		font-size:36px;
		color:#444444;
		line-height:49px;
	}
	.file-upload {
	.upload-btn{
		margin-top: 16px;
		margin-left: 0px;
		height: 43px;
		width: 100%;
	}
	}
	}
}